<!DOCTYPE html>
</html>
    <head>
        <title>NODEJS+NGINX+VARNISH</title>
        <!--script src="/../js/jquery-1.11.3.min.js"></script>
        <script src="/../js/progress.js"></script-->
        
        <link href="/../css/style.css" rel="stylesheet">
        <script type="text/javascript" src="/../js/all.js"></script>

        <link href="/../theme/validate/parsley.css" rel="stylesheet">
        <script type="text/javascript" src="/../theme/validate/parsley.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <div class="page-header"><h2><%=page_title%></h2></div>
            <div class="page-container">
