<html>
    <head>
        <script>
        setTimeout(function(){
		   window.location.reload(1);
		}, 1000);
        </script>
        <title><%=(locals.title) ? title :''%></title>
        
    </head>
    <body>
		<a href="./customers">Menu CRUD Node.js</a>
        <h2>Hello world<h2>
    </body>

</html>
