<form method="post" action="/curl_post">
	Name : <input type="text" name="name" placeholder='name'><br>
	Email : <input type="text" name="email" placeholder='email'><br>
	Phone : <input type="text" name="phone" placeholder='phone'><br>
	<br>
	<input type="submit">
</form>

<%=data%>
<br><br>
<pre>
<%=test%>
</pre>