<title><%=(title)?title:""%></title>

<h1><%=(title)?title:""%></h1>
<form method="post" action="/mongo/add">
	Name : <input type="text" name="name" placeholder='name'><br>
	Email : <input type="text" name="email" placeholder='email'><br>
	Phone : <input type="text" name="phone" placeholder='phone'><br>
	<br>
	<input type="submit">
</form>